*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 1rem;
}

body{
    width: 100%;
    height: 100%;
    background-color:  rgb(169, 20, 189);
    padding: 15px;
}

h1{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    color:  rgb(32, 181, 218);
}

.slider{
    position: relative;
    max-width: 45rem;
    height: 25rem;
    margin: 0 auto;
    overflow: hidden;
}

.slide{
    position: absolute;
    top: 0;
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom-container{
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
    margin-top: 30px;
}

.bottom-container button{
    padding: 10px 30px;
    background-color: rgb(73, 143, 160);
    border: none;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
}

.dots-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bottom-container .dot{
    width: 40px;
    height: 15px;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
}

.dots-container .dot.active{
    background-color: #080101;
}